.course-detail-container {
  display: flex;
  background-color: #200f0f24; 
  padding: 20px;
  border-radius: 10px;
}

.details-column {
  flex: 1; 
}

.image-column {
  flex: 1; 
}

.course-details {
  padding: 20px;
}

.course-image {
  max-width: 100%; 
  display: block; 
  margin: auto; 
}