body{
  background-color: white;
}
.explore-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding: 40px;
  overflow-x: hidden;
}
.e1{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchimg{
  width: 400px;
  height: 300px;
}
.search-input {
  width: 600px; /* Full width on smaller screens */
  padding: 8px 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search-button{
  margin-right: 200px;
  height: 50px;
  width: 100px;
  align-items: center;
  border-radius: 30px;
  background-color:  #ff282e;
  color: white;
}


.explore{
  padding-top: 10px;
  position: absolute;
  margin-left: 65%;
  margin-bottom: 50px;
  width: 300px;
  height: 200px;
  margin-bottom: 200px;
  z-index: 0; /* Adjust z-index to be above or below elements as needed */
}

.category-container {
  display: flex;
  flex-direction: row;

  width: 800px;


}


/* Hide the actual checkbox */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* Style for the custom checkbox */
input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px  #ff282e; /* Default border color */
  background-color: white; /* Default background color */
  border-radius: 4px; /* Rounded corners */
  margin-right: 8px; /* Adjust spacing between checkbox and label */
}

/* Style for the tick inside the custom checkbox */
input[type="checkbox"]:checked+label::before {
  content: "\2713"; /* Unicode character for checkmark */
  font-size: 11px; /* Adjust size of checkmark */
  line-height: 20px; /* Center checkmark vertically */
  text-align: center; /* Center checkmark horizontally */
  color: white;
}

/* Change border color and background color when the checkbox is not checked */
input[type="checkbox"]+label::before {
  border: 2px solid#ff282e;
}

/* Change border color and background color when the checkbox is checked */
input[type="checkbox"]:checked+label::before {
  border-color: white;
  background-color:#ff282e
}

.rating-level {
  display: flex;
}

.level-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.level-item {
  margin-right: 20px; /* Adjust spacing between categories */
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.product{
  position: relative;
  width: 200px;
  margin: 10px 0px 40px 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow:  4px 4px 8px #540216,
  -5px -5px 10px #e1cad0;
  transition: transform 0.15s ease-in-out;
}

.product img{
  width: 200px;
  height: 120px;
  border-radius: 10px;
}

.product img:hover{
  transform: scale(1.25);
}

.product h3 {
  font-size: 16px;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
}

.product p {
  font-size: 14px;
  margin-bottom: 10px;
  height:40px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 60px;

}