/* SideNav.module.css or your CSS file */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000; /* High z-index to ensure visibility above other content */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
  }
  
  .sidebar ul li a, .sidebar ul li button {
    text-decoration: none;
    color: black;
    display: block;
  }
  
  .sidebar ul li button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  