/* SideNav.module.css */
.sidebar {
  position: fixed; /* Keeps the sidebar in place on scroll */
  left: 0;
  top: 0;
  width: 80px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navList {
  list-style: none;
  padding: 0;
  width: 100%;
}

.navItem {
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers items vertically */
  justify-content: center; /* Centers items horizontally */
  width: 100%;
  margin-bottom: 30px;
  color: white; /* Sets text color to white */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%; /* Ensures full width for clickable area */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.navItem:hover, .navLink:hover {
  background-color: #e0e0e0; /* Light grey background on hover */
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

.icon {
  width: 24px; /* Adjust based on your design preferences */
  height: 24px;
  margin-bottom: 5px;
}

.navLink.active {
  background-color: #f0f0f0; /* Active link highlighting */
}
