/* forgotPassword.css */
body,
html {
  height: 100vh;
  background: #f8f8f8;
}

.upper-left-circle {
  position: absolute;
  top: -290px;
  left: -150px;
  width: 700px;
  height: 700px;
  background: #ffebeb;
  border-radius: 50%;
  z-index: 0;
}

.forgot-password-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 100%;
  width: 450px;
  z-index: 1;
}

.forgot-password-form {
  width: 100%;
}

.forgot-password-form h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.error-message {
  color: #ff3b30;
  margin-top: 10px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.btn-reset,
.btn-back {
  flex: 1;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 85px;
  cursor: pointer;
  margin: 10px 0;
  font-weight: bold;
  background: #ff3b30;
  color: #fff;
}

.or-text {
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
}
